@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4edff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  width: 713px;
  height: 175px;
  border-radius: 30px;
  background-color: #cd8aff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card { 
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  top: 150px;
  position: absolute;
  width: 550px;
  height: 297px;
  border-radius: 24px;
  background-color: white;
  padding: 72px 32px 46px 72px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.4s;
}

h2.title {
  color: #38196b;
  line-height: 36px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}
.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.close {
  position: absolute;
  display: inline-block;
  top: 32px;
  right: 32px;
  width: 64px;
  height: 64px;
  background-color: #f8f4ff;
  border-radius: 32px;
  border: 1px solid #f4edff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  background: linear-gradient(135deg, #9ab0ff 0%, #eb73ff 100%);
  box-shadow: 0px 4px 4px rgba(193, 107, 236, 0.24);
  height: 58px;
  border-radius: 17px;
}
.info-text {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-left: 8px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
}
.card-btn {
  width: 97px;
  height: 51px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid;
  margin-left: 16px;
}

.btn-red {
  border-color: #ffb2b2;
  color: #ff1212;
}

.btn-green {
  border-color: #9eebaf;
  color: #0abe31;
}
